
#card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#flex-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#flex-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#flex-card #texto {
    flex:1;
    align-items: flex-start;
    padding: 0 10px;
}

#flex-card #tempo-valor {
    align-items: center;
    padding: 0 10px;
}

#flex-card #text h4 {
    font-weight: bold;
}


